header {
  margin-top: 1vw;
}

.title {
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
}

.blurb {
  text-align: center;
  margin-top: 1vw;
}

/* start button margin */
.sbtn {
  margin-top: 10vw;
}

.blurbQSize {
  font-size: 2vw;
}

.rowsA {
  margin-top: 5vw;
}

.col-3 {
  padding: .5%;
}